body {
  margin-top:20px;
  background-image:url(../images/headerlogo/background.jpg);
}
.panel-title {display: inline;font-weight: bold;}
.checkbox.pull-right { margin: 0; }
.pl-ziro { padding-left: 0px; }
